#assumptions {
  width: 25px;
  display: inline-block;
  text-align: right;
}

.form-field {
  margin: 10px 0 10px 0;
  padding: 2px 5px;
  font-size: 16px;
  border: 0;
  background-color: rgba(255, 0, 0, 0);
  font-family: "Roboto", sans-serif; 
  text-decoration: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  float: left; 
  margin: 0 20px 0 0; 
}

button {
  background: #252d47;
  color: white;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

#parentContainer {
  display: flex;
}

#formHolder {
  flex: 1;
  padding: 20px;
  margin-left: 30px;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1), 0px 5px 1px 1px rgba(0, 0, 0, 0.1);
}

[type='button'].formButton {
  width: 2in;
  margin-left: 7in;
  margin-top: 1in;
}

button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d47;
  border-radius: 15px;
  display: flex;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #ffffff;
  cursor: pointer;
}

button:focus {
  outline: none;
}


