.quizBlock {
  margin-left: 5in;
}

.quiz {
  background-color: #e4dbf1;
  width: 650px;
  min-height: 200px;
  height: min-content;
  border-radius: 10px;
  padding: 10px;
  /* align-items:center; */
  box-shadow: 10px 10px 32px 1px rgba(0, 0, 0, 0.75);
  display: flex; 
  justify-content: space-evenly; 
  border: 1px solid #f8f8f8;
  margin-left: 200px;
  margin-top: 50px;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

.question-section {
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: 30px;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

button {
  width: 70%;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d47;
  border-radius: 10px;
  display: flex;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #ffffff;
  cursor: pointer;
}

button:focus {
  outline: none;
}

#formHolder {
  flex: 1;
  /* border: 1px rgb(17, 0, 255) solid;  */
  padding: 20px;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1), 0px 5px 1px 1px rgba(0, 0, 0, 0.1);
  margin-left: 30px;
  margin-top: 30px;
}

#parentContainer {
  display: flex;
  /* border: 1px rgb(255, 38, 0) solid;  */

}


.score-section {
  flex: 1;
  /* border: 1px rgb(17, 0, 255) solid;  */


  flex-direction: column;
  justify-content: space-evenly;

}

.try-again-button {
  width: 2in;
}

