#homeTitle {
  margin-left: 200px;
  width: 7.5in;
  text-align: center;
  margin-top: -30px;
}

#homeContainer1 {
  box-shadow: 1px 1px 0px 0px rgba(204, 170, 214, 0.1), 5px 5px 1px 1px rgba(225, 179, 231, 0.1);
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-left: 20px;
  height: 15%;
  width: 95%;
  float: left;
}



