/* * {
  font-family: "Verdana", cursive, sans-serif;
  color: #ffffff;
} */

body {
  margin: 0;
  background-color: #e1e7eb;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

 @font-face {
  font-family: 'RobotoRegular';
  src: url('./fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'RobotoThin';
  src: url('./fonts/Roboto-Thin.ttf');
} 