/* * {
  font-family: "Verdana", cursive, sans-serif;
  color: #ffffff;
} */

body {
  margin: 0;
  background-color: #d7e8f0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.quizBlock {
  margin-left: 5in;

}

.quiz {
  background-color: #b28ee9;
  width: 500px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 32px 1px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #f8f8f8;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d47;
  border-radius: 15px;
  display: flex;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #ffffff;
  cursor: pointer;
}

button:focus {
  outline: none;
}

/* navbar */
body {
  margin: 0;
  font-family: 'RobotoRegular', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  display: flex;
  flex-direction: row;
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  color: inherit;
  text-decoration: inherit;
  text-transform: uppercase;
  outline: none;
}

.header {
  margin-top: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header-top {
  display: flex;
  width: 100%;
  height: 80px;

}

.header-top__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  
}

.header-logo {
  color: inherit;
  text-decoration: inherit;
  font-family: RobotoThin;
  font-size: 100px;

}

.header-top__navbar {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header-top__seperator {
  width: 100%;
  border: none;
  height: 2px;
  margin-top: 2px;
  background-color: black;
}

.header-top__navigation {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 55px;
}


 @font-face {
  font-family: 'RobotoRegular';
  src: url('./fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'RobotoThin';
  src: url('./fonts/Roboto-Thin.ttf');
}

  
  #navFNA {
    margin-top: 40px;
     /* border: 1px rgb(72, 255, 0) solid; */
     /* box-shadow: 0 0 20px 0 rgba(230, 203, 248, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
  }
  
  .FNANavItemBG {
    /* border: 1px rgb(72, 255, 0) solid; */
    width: 200px;
    height: 60px;
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.1), 0px 5px 1px 1px rgba(0, 0, 0, 0.1);
  }